@tailwind base;
@tailwind components;
@tailwind utilities;
.backgroundsv {
	background-color: #171923;
	background-image: url("./assets/home.svg");
	background-repeat: repeat;
	/*background-size: cover;*/
}

@media only screen and (max-width: 1100px) {
	.backgroundsv {
		background-size: auto;
	}
}
@font-face {
	font-family: "NeontubeBold";
	src: local("PPNeueBit-Regular"),
	url("../src/assets/Neontube-Bold.woff") format("woff");

}
.font-neon{
	font-family: "NeontubeBold", serif;
}

.backgroundtt {
	background-color: #2B2B2B;
	background-image: url("./assets/tt.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.pyro {
	background: linear-gradient(-45deg, #E1DBC3, #333, #2B2B2B, #000);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
