@tailwind base;
@tailwind components;
@tailwind utilities;
.backgroundsv {
	background-color: #191919;
	opacity: 10;
	height: 100vh;
	background-image: url("./assets/topography.svg");

	background-size: cover;
}
body{
	overflow-x:hidden;
}
@media only screen and (max-width: 1100px) {
	.backgroundsv {
		background-size: auto;
	}
}
@font-face {
	font-family: "NeontubeBold";
	src: local("PPNeueBit-Regular"),
	url("../src/assets/Neontube-Bold.woff") format("woff");

}
.font-neon{
	font-family: "NeontubeBold", serif;
}

.backgroundtt {
	background-color: #2B2B2B;
	background-image: url("./assets/tt.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.pyro {
	background: linear-gradient(-45deg, #E1DBC3, #333, #2B2B2B, #000);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}




.button-54 {
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	letter-spacing: 2px;
	text-decoration: none;
	text-transform: uppercase;
	color: #F14D54;
	cursor: pointer;
	border: 3px solid;
	padding: 0.25em 0.5em;
	box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
	position: relative;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.button-54:active {
	box-shadow: 0px 0px 0px 0px;
	top: 5px;
	left: 5px;
}

@media (min-width: 768px) {
	.button-54 {
		padding: 0.25em 0.75em;
	}
}

.shine{
	position: absolute;
	transform: translate(-50%,-50%);
	top: 50%;
	left: 50%;

	font-weight: bold;
	background-image: linear-gradient(
			to right,
			#505050 0,
			#a3a3a3 22%,
			#ffffff 45%,
			#717171 50%,
			#e4e4e4 55%,
			#828282 78%,
			#ffffff 100%
	);
	color:transparent;
	-webkit-background-clip:text;

}

.shine_gold{
	position: absolute;
	transform: translate(-50%,-50%);
	top: 50%;
	left: 50%;

	background-image: linear-gradient(
			to right,
			#462523 0,
			#cb9b51 22%,
			#f6e27a 45%,
			#f6f2c0 50%,
			#f6e27a 55%,
			#cb9b51 78%,
			#462523 100%
	);
	color:transparent;
	-webkit-background-clip:text;

}

